#submit_levels {
    margin-bottom: 10px;
}

#update_sdrf_table {
    margin-bottom: 10px;
}

#confirm_DEG {
    margin-bottom: 10px;
    margin-top: 10px;
}

#level_selection_back_button {
    margin-bottom: 10px;
}

#add_filter {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

#num_downgenes_custom {
    width: 70px;
    height: auto;
}

#num_upgenes_custom {
    width: 70px;
    height: auto;
}

#remove_filter {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
}

#newInputs > div {
    display: inline-block;
    width: 100px;
}

#positive_DEG_Tag {
    margin-top: 100px;
}

#negative_DEG_Tag {
    margin-top: 20px;
}

#reset {
    background-color: #008CBA;
    opacity: 0.6;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 170px;
}

